@import '../shared.scss';

.icon-button {
  height: 1.25rem; /*24px*/
  width: 1.25rem; /*24px*/
  border: solid $icon-border-width $icon-border-color;
  border-radius: 0.125rem;
  background: $icon-background-color;
  color: $icon-border-color;
  margin: 0.125rem 0.125rem 0.125rem 0;

  font-size: 0.875rem; /*14px*/
  font-weight: bold;
  padding: 0;
  display: inline-block;
  text-align: center;
  box-sizing: content-box;
  vertical-align: middle;
}

.icon-button:hover {
  background: $icon-background-color__hover;
  color: $icon-text-color__hover;
}

.icon-button:disabled{
  border-color: $icon-border-color__disabled;
  background: $icon-background-color__disabled;
  color: $icon-border-color__disabled;
}


.icon-button__lable {
  padding: 0 0.25rem;
  vertical-align: middle;
}

.icon-button__body_success {
  background: $icon-background-color__success;
}

.icon-button__icon_add:before {
  content: '+';
}

.icon-button__icon_aboard:before {
  content: '\2717';
}

.icon-button__icon_delete:before {
  content: '\01F5D1';
}

.icon-button__icon_edit:before {
  content: '\270E';
}

.icon-button__icon_check-mark:before {
  content: '\2713';
}

.icon-button__icon_collapsible_close:before {
  content: '\25B2';
}

.icon-button__icon_collapsible_open:before {
  content: '\25BC';
}

.icon-button__icon_forward:before {
  padding-left: 0.1rem;
  content: '\25B6';
}

.icon-button__icon_back:before {
  content: '\25C4';
}

/*ToDo create svn for thump-up*/
.icon-button__icon_vote-up:before {
  content: '👍';
}

