.comment-segment {
  position: relative;
  padding: 0.5rem 0 2rem 0;
  height: 8.5rem;
  border-bottom: 1px solid #999999;
}

.comment-segment__empty-space {
  text-align: center;
  line-height: 7.25rem;
}

@media screen and (min-width:900px) {
  .comment-segment {
    height: 12rem;
  }
}
