/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'FontAwesome';
  src: url('assets/font-awesome-4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('assets/font-awesome-4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('assets/font-awesome-4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('assets/font-awesome-4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('assets/font-awesome-4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('assets/font-awesome-4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
  margin: 1rem;
}

h1, .title {
  font-family: Arial, serif;
  font-size: 1.25rem; /*20px*/
  font-weight: bold;
  color: #000000;
  margin: 0;
}

h2, .title__content_second {
  font-size: 1rem; /*16px*/
  font-weight: normal;
}

h3, .title__content_third {
  font-size: 0.875rem; /*14px*/
  font-weight: bold;
}

h4, .title__content_fourth {
  font-size: 0.875rem; /*14px*/
  font-weight: normal;
}

h5, .title__content_fifth {
  font-size: 0.75rem; /*12px*/
  font-weight: normal;
}

p, span, label, .text, a, textarea, input {
  font-family: Arial, serif;
  font-size: 0.875rem; /*14px*/
  color: #000000;
  margin: 0;
}

.text__content_bold {
  font-weight: bold;
}

.text__content_small {
  font-size: 0.75rem; /*12px*/
}
