<div class="comment-segment">
  <rsb-carousel>
    <div rsbCarouselElement>
      <rsb-sticky-note></rsb-sticky-note>
    </div>
    <div rsbCarouselElement>
      <rsb-sticky-note></rsb-sticky-note>
    </div>
    <div rsbCarouselElement>
      <rsb-sticky-note></rsb-sticky-note>
    </div>
    <div rsbCarouselElement>
      <rsb-sticky-note></rsb-sticky-note>
    </div>
    <div rsbCarouselElement>
      <rsb-sticky-note></rsb-sticky-note>
    </div>


    <!--<rsb-carousel-element>-->
    <!--<rsb-sticky-note></rsb-sticky-note>-->
    <!--</rsb-carousel-element>-->
    <!--<rsb-carousel-element>-->
    <!--<rsb-sticky-note></rsb-sticky-note>-->
    <!--</rsb-carousel-element>-->
    <!--<rsb-carousel-element>-->
    <!--<rsb-sticky-note></rsb-sticky-note>-->
    <!--</rsb-carousel-element>-->
    <!--<rsb-carousel-element>-->
    <!--<rsb-sticky-note></rsb-sticky-note>-->
    <!--</rsb-carousel-element>-->
    <!--<rsb-carousel-element>-->
    <!--<rsb-sticky-note></rsb-sticky-note>-->
    <!--</rsb-carousel-element>-->
  </rsb-carousel>
</div>
