.button-set {
    float: right;
    font-size: 0; /*withespace solver*/
    display:table;
}

.button-set:after {
    clear: both;
    font-size: 0;
    display: table;
}

.button-set_element{
    display: table-cell;
    vertical-align: middle;
}

.button-set__text {
    line-height: 100%;
    padding: 0 0.25rem;
}