.carousel {
  position: relative;
  height: 100%;
  width: 100%;
}

.carousel__nav-button {
  width: 0;
  height: 0;
  border-top: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
  background: transparent;
  padding: 0;
  position: absolute;
  z-index: 2000;
  top:0;
  bottom: 0;
  overflow: auto;
  margin: auto;
}

.carousel__nav-button-right {
  border-right: 0 solid transparent;
  border-left: 2rem solid #C0C0C0;
  right: 1rem;
}

.carousel__nav-button-left {
  border-left: 0 solid transparent;
  border-right: 2rem solid #C0C0C0;
  left: 1rem;
}
