@import '../shared.scss';

.carousel {
  position: relative;
  height: 100%;
  width: 100%;
}

.carousel__nav-button {
  width: 0;
  height: 0;
  border-top: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
  background: transparent;
  padding: 0;
  position: absolute;
  z-index: 2000;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.carousel__nav-button-right {
  border-right: 0 solid transparent;
  border-left: 2rem solid $icon-text-color;
  right: 1rem;
}

.carousel__nav-button-left {
  border-left: 0 solid transparent;
  border-right: 2rem solid $icon-text-color;
  left: 1rem;
}

.carousel__nav-inner-button {
  width: 0;
  height: 0;
  border-top: 1.75rem solid transparent;
  border-bottom: 1.75rem solid transparent;
  background: transparent;
  padding: 0;
  position: absolute;
  display: block;
  z-index: 2001;
  top: 0;
  bottom: 0;
  margin: -1.75rem 0;
  cursor: pointer;
}

.carousel__nav-inner-button-right:hover {
  border-left-color: $icon-text-color__hover;
}

.carousel__nav-inner-button-left:hover {
  border-right-color: $icon-text-color__hover;
}

.carousel__nav-inner-button-right {
  border-right: 0 solid transparent;
  border-left: 1.75rem solid $icon-background-color;
  right: 0.15rem;
}

.carousel__nav-inner-button-left {
  border-left: 0 solid transparent;
  border-right: 1.75rem solid $icon-background-color;
  left: 0.15rem;
}

.carousel__element {
  position: absolute;
  left: 50%;
  transition: transform 0.5s, left 0.5s;
}
