.icon-button {
    height: 1.25rem; /*24px*/
    width: 1.25rem; /*24px*/
    border: solid 2px #666666;
    background: #C0C0C0;
    color: #666666;
    margin: 0.125rem;
}

.icon-button:hover{
    background: #666666;
    color:#C0C0C0;
}

.icon-button__body_success {
    background: #6dd15c;
}

.icon-button__icon {
    width: 100%;
    border: none;
    font-size: 0.875rem; /*14px*/
    line-height: 1.25rem; /*24px*/
    font-weight: bold;
    background: none;
    padding: 0;
    display: block;
    text-align: center;
    color: inherit;
}

.icon-button__icon_add:before {
    content: '+';
}

.icon-button__icon_aboard:before {
    content: '\2717';
}

.icon-button__icon_delete:before {
    content: '\2717';
}

.icon-button__icon_check-mark:before {
    content: '\2713';
}

.icon-button__icon_collapsible_close:before {
    content: '\25B2';
}

.icon-button__icon_collapsible_open:before {
    content: '\25BC';
}

/*ToDo create svn for tumpup*/
.icon-button__icon_vote-up:before{
    content: '👍';
}


/**Toggle Stuff**/
.icon-button__toggle-collapsible {
    display: none;
}

.icon-button__toggle-collapsible + label:before{
    content: '\25B2';
}

.icon-button__toggle-collapsible:checked + label:before{
    content: '\25BC';
}
