.gallery{

}

.gallery__elements {
  padding: 0.625rem 0 0.625rem 0.625rem; /*10px*/
  position: relative;
  text-align: center;
  font-size: 0; /*white space killer*/
}

.gallery__element {
  display: inline-block;
  margin: 0.625rem 0.625rem 0 0; /*10px*/
}
