/**
 * VARIABLES.
 */

/** COLORS */
$input-border-color: #666666;
$input-border-color__focus: #999999;

$input-background-color: #ffffcc;
$input-background-color__focus: #ffffff;
$input-background-color__disabled: #eeeec2;

$icon-border-color: #666666;
$icon-border-width: 2px;
$icon-text-color: #666666;
$icon-background-color: #c0c0c0;

$icon-text-color__hover: #c0c0c0;
$icon-background-color__hover: #666666;
$icon-background-color__success: #6dd15c;

$icon-border-color__disabled: #c0c0c0;
$icon-text-color__disabled: #c0c0c0;
$icon-background-color__disabled: #dddddd;

$error-color: #d40000;

$link-color: #0000bb;

$panel-border-color: #999999;
$panel-background-color: #eeeeee;

/**
 * FORM ELEMENTS
 */
@mixin input-element {
  border: 1px solid $input-border-color;
  background: $input-background-color;
  line-height: 1.25rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  padding: 0 0.25rem;
  box-sizing: border-box;
}

.gallery {

}

.gallery__elements {
  padding: 0.625rem 0 0.625rem 0.625rem; /*10px*/
  position: relative;
  text-align: center;
  font-size: 0; /*white space killer*/
}

.gallery__element {
  display: inline-block;
  margin: 0.625rem 0.625rem 0 0; /*10px*/
}

