/**
 * VARIABLES.
 */

/** COLORS */
$input-border-color: #666666;
$input-border-color__focus: #999999;

$input-background-color: #ffffcc;
$input-background-color__focus: #ffffff;
$input-background-color__disabled: #eeeec2;

$icon-border-color: #666666;
$icon-border-width: 2px;
$icon-text-color: #666666;
$icon-background-color: #c0c0c0;

$icon-text-color__hover: #c0c0c0;
$icon-background-color__hover: #666666;
$icon-background-color__success: #6dd15c;

$icon-border-color__disabled: #c0c0c0;
$icon-text-color__disabled: #c0c0c0;
$icon-background-color__disabled: #dddddd;

$error-color: #d40000;

$link-color: #0000bb;

$panel-border-color: #999999;
$panel-background-color: #eeeeee;

/**
 * FORM ELEMENTS
 */
@mixin input-element {
  border: 1px solid $input-border-color;
  background: $input-background-color;
  line-height: 1.25rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  padding: 0 0.25rem;
  box-sizing: border-box;
}

.form .form__element{
  margin-bottom: 0.5rem;
}

.no_select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  cursor: default;
}

/**
 * FIXME: Check how we can have cross-cutting styles
 */
@media screen and (min-width: 900px) {
  .sticky-note textarea {
    height: 6rem;
  }
}

// Initial button
html .comment-segment__empty-space .icon-button__icon_add {
  font-size: 2.5rem;
  width: 3rem;
  height: 3rem;
}
