.form {
    padding-top: 1rem;
}

.form__element {
    margin-bottom: 0.5rem;
}

.form__body {
    max-width: 30rem;
    margin: 0 auto;
    padding: 0 1rem 1rem 1rem;
}

.form__submit {
    width: 100%;
    border-top: solid 1px #cccccc;
    display: table;
}

.form__submit:after {
    clear: both;
    font-size: 0;
    display: table;
}