<div class="comment-segment">
  <rsb-carousel>
    <rsb-carousel-element>
      <rsb-sticky-note></rsb-sticky-note>
    </rsb-carousel-element>
    <rsb-carousel-element>
      <rsb-sticky-note></rsb-sticky-note>
    </rsb-carousel-element>
    <rsb-carousel-element>
      <rsb-sticky-note></rsb-sticky-note>
    </rsb-carousel-element>
    <rsb-carousel-element>
      <rsb-sticky-note></rsb-sticky-note>
    </rsb-carousel-element>
    <rsb-carousel-element>
      <rsb-sticky-note></rsb-sticky-note>
    </rsb-carousel-element>
  </rsb-carousel>
</div>
