@import '../shared.scss';

.header-bar {
  background: $panel-background-color;
  background: linear-gradient(135deg, rgba(255, 246, 204, 0.6) 0%, $panel-background-color 100%);
  border: solid 1px $panel-border-color;
  border-radius: 0.125rem;
  display: block;
  padding: 0.875rem; /*14px*/
  margin-bottom: 1.5rem; /*24px*/
}
