@import '../shared.scss';

.header-bar {
  background: $panel-background-color;
  border: solid 1px $panel-border-color;
  border-radius: 0.125rem;
  display: block;
  padding: 0.875rem; /*14px*/
  margin-bottom: 1.5rem; /*24px*/
}
