@import '../../../shared/shared.scss';
@import "../../../shared/gallery.scss";

.controlpanel {

}

.controlpanel_segment{
  padding-bottom:2rem;
}

.controlpanel__description {

}

.controlpanel__description-text{
  padding-left:1rem;
}

.controlpanel__segment-title {
  border-bottom: 1px solid $panel-border-color;
  padding-left: 0.5rem;
  margin: 0.5rem 0;
}

.controlpanel__text {
  padding: 0 1rem;
}
.add-user{
  padding-bottom: 0.5rem;
}
.add-user__qrcode{
  padding: 0.5rem;
  text-align: center;
}


.progressbar {
  position: relative;
  height: 5rem;
}
.progressbar__elements {
  counter-reset: step;
  padding: 0;
}
.progressbar__elements li {
  list-style-type: none;
  width: 25%;
  float: left;
  font-size: 0.75rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  z-index: 2;
  color: #7d7d7d;
}
.progressbar__elements li:before {
  font-family: FontAwesome, serif;
  font-size: 1.125rem;
  width: 1.875rem;
  height: 1.875rem;
  line-height: 1.875rem;
  border: 0.1875rem solid #7d7d7d;
  display: block;
  text-align: center;
  margin: 0 auto 0.625rem auto;
  border-radius: 50%;
  background-color: white;
  position: relative;
  z-index: 2;
}
.progressbar__elements li:after {
  width: 100%;
  height: 0.1875rem;
  content: '';
  position: absolute;
  background-color: #7d7d7d;
  top: 1rem;
  left: calc(-50% + 0.9375rem);
  z-index: -1;
}
.progressbar__elements li:first-child:after {
  content: none;
}
.progressbar__elements li.progressbar__element_active {
  color: green;
}
.progressbar__elements li.progressbar__element_active:before {
  border-color: #55b776;
}
.progressbar__elements li.progressbar__element_active:after{
  background-color: #55b776;
}

.progressbar__element_comment:before{
  content: '\f249'
}

.progressbar__element_review:before{
  content: '\f086'
}

.progressbar__element_vote:before{
  content: '\f164'
}

.progressbar__element_closed:before{
  content: '\f06e'
}
