html {
    font-family: Arial, serif;
}

.board {
    /*300px*/
    min-width: 18.75rem;
    width: 100%;
    border: solid 1px #cccccc;
    background: #eeeeee;
    display: block;
}

.board__header {
    padding-left: 0.25rem;/*4px*/
}

.board__body {
    border-top: solid 1px #cccccc;
    padding: 0.625rem 0 0.625rem 0.625rem; /*10px*/
    font-size: 0; /*white space killer*/
}

.board__elements {
    position: relative;
    text-align: center;
    font-size: 0; /*white space killer*/
}

.board__element {
    display: inline-block;
    margin: 0.625rem 0.625rem 0 0; /*10px*/
}
