<div class="sticky-note" [ngClass]="{'sticky-note__content_covered': covered}">
  <div *ngIf="!covered" class="sticky-note__header">
    <h3 *ngIf="!showForm" class="title title__content_third" rsbDisableElement>{{stickyNote.title}}</h3>
    <rsb-text-input *ngIf="showForm" [(ngModel)]="stickyNote.title" [hasError]="titleError"></rsb-text-input>
  </div>
  <div *ngIf="!covered" class="sticky-note__body">
    <rsb-linebreak-text *ngIf="!showForm" [text]="stickyNote.description"></rsb-linebreak-text>
    <p>{{voteCount}}</p>
    <rsb-text-input *ngIf="showForm" [(ngModel)]="stickyNote.description" [isTextArea]="true" [hasError]="descError"></rsb-text-input>
  </div>
  <div *ngIf="!covered" class="sticky-note__footer">
    <rsb-split-bar>
      <rsb-split-bar-container-left>
        <span *ngIf="showAuthor" class="text text__content_small" rsbDisableElement>{{stickyNote.author.shortName}}</span>
      </rsb-split-bar-container-left>
      <rsb-split-bar-container-right>
        <rsb-button-set *ngIf="!isClosedMode">
          <rsb-icon-button *ngIf="isVoteMode" [buttonType]="iconButtonType.VOTE" [activated]="hasActiveVote" (click)="vote()" (touch)="vote()"></rsb-icon-button>
          <rsb-icon-button *ngIf="showForm" [buttonType]="iconButtonType.CHECK_MARK" (click)="saveStickyNote()" (touch)="saveStickyNote()"></rsb-icon-button>
          <rsb-icon-button *ngIf="showForm" [buttonType]="iconButtonType.ABOARD" (click)="aboardEdit()" (touch)="aboardEdit()"></rsb-icon-button>
          <rsb-icon-button *ngIf="showEditButton" [buttonType]="iconButtonType.EDIT" (click)="enterEditMode()" (touch)="enterEditMode()"></rsb-icon-button>
          <rsb-icon-button *ngIf="showDeleteButton" [buttonType]="iconButtonType.DELETE" (click)="deleteComment()" (touch)="deleteComment()"></rsb-icon-button>
        </rsb-button-set>
        <p *ngIf="isClosedMode">Votes: {{stickyNote.voteCount}}</p>
      </rsb-split-bar-container-right>
    </rsb-split-bar>
  </div>
</div>
