<div class="sticky-note">
  <div class="sticky-note__header">
    <h3 *ngIf="!showForm" class="title title__content_third">{{stickyNote.title}}</h3>
    <rsb-text-input *ngIf="showForm" [(ngModel)]="stickyNote.title"></rsb-text-input>
  </div>
  <div class="sticky-note__body">
    <p *ngIf="!showForm">{{stickyNote.description}}</p>
    <rsb-text-input *ngIf="showForm" [(ngModel)]="stickyNote.description" [isTextArea]="true"></rsb-text-input>
  </div>
  <div class="sticky-note__footer">
    <rsb-split-bar>
      <rsb-split-bar-container-left>
        <span *ngIf="showAuthor" class="text text__content_small">{{stickyNote.author.shortName}}</span>
      </rsb-split-bar-container-left>
      <rsb-split-bar-container-right>
        <rsb-button-set>
          <rsb-icon-button *ngIf="isVoteMode" [buttonType]="iconButtonType.VOTE" (click)="vote()"></rsb-icon-button>
          <rsb-icon-button *ngIf="showForm" [buttonType]="iconButtonType.CHECK_MARK" (click)="saveStickyNote()"></rsb-icon-button>
          <rsb-icon-button *ngIf="showForm" [buttonType]="iconButtonType.ABOARD" (click)="aboardEdit()"></rsb-icon-button>
          <rsb-icon-button *ngIf="showEditButton" [buttonType]="iconButtonType.EDIT" (click)="enterEditMode()"></rsb-icon-button>
          <rsb-icon-button *ngIf="showDeleteButton" [buttonType]="iconButtonType.DELETE" (click)="deleteComment()"></rsb-icon-button>
        </rsb-button-set>
      </rsb-split-bar-container-right>
    </rsb-split-bar>
  </div>
</div>
