@import '../shared.scss';

.input {
  display: block;
}

.input__textfield {
  @include input-element();
  width: 100%;
}

.input__textfield:focus {
  border-color: $input-border-color__focus;
  background: $input-background-color__focus;
}

.input__textfield_large {
  width: 16rem;
}

.input__textfield_middle {
  width: 8rem;
}

.input__textfield_small {
  width: 6rem;
}

.input__label {
  display: block;
}

.input__error-message {
  display: block;
  color: $error-color;
}

.input__textfield_error {
  border: solid 2px $error-color;
}

.input__textfield_error:focus {
  background: $input-background-color__focus;
}

.input__textfield_textarea {
  resize: none;
}



