.form {

}

.input {
  display: block;
}

.input__textfield {
  width: 100%;
  background: #ffffcc;
  border: solid 1px #999999;
  line-height: 1.25rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  padding: 0 0.25rem;
  box-sizing: border-box;
}

.input__textfield:focus {
  border: solid 1px #999999;
  background: white;
}

.input__textfield_large {
  width: 16rem;
}

.input__textfield_middle {
  width: 8rem;
}

.input__textfield_small {
  width: 6rem;
}

.input__label {
  display: block;
}

.input__error-message {
  display: block;
  color: #d40000;
}

.input__textfield_error {
  border: solid 2px #d40000;
}

.input__textfield_error:focus {
  background: white;
}


