<p>
  core works!
</p>
<app-board [title]="'This is a direct String title'">
  <board-title>Here is the Title of the Board</board-title>
  <board-buttons>
    <icon-button [iconButtonType]="IconButtonType.ADD"></icon-button>
  </board-buttons>
  <board-body>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et-->
    dolore magna aliquyam erat, sed diam
    voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
    takimata sanctus est Lorem ipsum dolor sit
    amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
    labore et dolore magna aliquyam erat, sed
    diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
    takimata sanctus est Lorem ipsum dolor sit
    amet.</p>
</board-body>
</app-board>
