<rsb-board [isCollapsible]="true" [isOpen]="false">
  <rsb-board-title><strong>Controllpanel for Retrospective:</strong> {{retrospective?.name}}</rsb-board-title>
  <rsb-board-body>
    <rsb-control-panel [retrospective]="retrospective"></rsb-control-panel>
  </rsb-board-body>
</rsb-board>
<rsb-carousel [carouselActive]="false">
  <div class="board-grid">
    <div rsbCarouselElement class="board-grid__element" *ngFor="let topic of retrospective?.topics">
      <rsb-retrospective-topic-board [topic]="topic" [retroStatus]="retrospective.status"></rsb-retrospective-topic-board>
    </div>
  </div>
</rsb-carousel>
