@import '../../shared/shared.scss';

.board-grid {
  display: flex;
  margin: 0 -1rem;
}

.board-grid__element {
  flex-grow: 1;
  flex-basis: 0;
  padding: 0 1rem;
}

rsb-comment-segment {
  border-bottom: 1px solid $panel-border-color;
}
