.split-bar {
  display: flex;
  width: 100%;
  align-items: center;
  height: 100%;
}

.split-bar__container {
  flex-grow: 1;
}

.split-bar__container_left {
  order: 1;
}

.split-bar__container_right {
  order: 2;
  text-align: right;
}
