<div class="board">
  <div class="board__header">
    <rsb-split-bar>
      <rsb-split-bar-container-left>
        <h2 class="title title__content_second">
          <ng-content select="rsb-board-title"></ng-content>
        </h2>
      </rsb-split-bar-container-left>
      <rsb-split-bar-container-right>
        <div class="button-set">
          <ng-content select="rsb-board-buttons"></ng-content>
        </div>
      </rsb-split-bar-container-right>
    </rsb-split-bar>
  </div>
  <div class="board__body">
    <ng-content select="rsb-board-body"></ng-content>
  </div>
</div>
