<div class="board">
  <div class="board__header">
    <rsb-split-bar>
      <rsb-split-bar-container-left>
        <h2 class="title title__content_second">
          <ng-content select="rsb-board-title"></ng-content>
        </h2>
      </rsb-split-bar-container-left>
      <rsb-split-bar-container-right>
        <rsb-button-set>
          <ng-content select="rsb-board-buttons"></ng-content>
          <rsb-icon-button [buttonType]="iconButtonType.COLLAPSIBLE" (click)="toggleCollapsibleState()" [toggleStatus]="isOpen"></rsb-icon-button>
        </rsb-button-set>
      </rsb-split-bar-container-right>
    </rsb-split-bar>
  </div>
  <div class="board__body" [@collapse]="collapsibleState">
    <ng-content select="rsb-board-body"></ng-content>
  </div>
</div>
